.right-3
,.z-header
,div > .mb-1 > .group > .flex > .shrink-0
,.text-right
,[data-theme=claude][data-mode=dark] .font-normal
/* ,.text-text-500\/80 */
,.duration-150:nth-child(3)
,.justify-between > .text-text-300
,.p-1
/* ,.pr-5:nth-child(1) */
,.mb-3 > span:nth-child(3)
{
    display: none !important;
}
.w-full {
    background-color: black;
    font-size: 18px;;
    text-align: center;
}
.\[\&_\.standard-markdown_\:is\(p\2c blockquote\2c ul\2c ol\2c h1\2c h2\2c h3\2c h4\2c h5\2c h6\)\]\:pr-8 .standard-markdown :is(p,blockquote,ul,ol,h1,h2,h3,h4,h5,h6) {
    padding-right: 3px;
    Color: #e08500;
    Font-size:19px;
}
.font-bold {
    font-weight: 530 !important;
}
.-tracking-\[0\.015em\] {
    letter-spacing: -.015em;
    background-color: black;
    border: 1px #e10000 solid;
}
.bg-bg-000\/50 {
    background-color: black;
    border: 1px #18bd00 solid;
    margin-top: 3px;
    justify-self: center;
    padding-left:4px;
    padding-right:3px;
}
.w-2 {
    border: 1px #c0a0a0 solid;
}
/* div > .mb-1 .whitespace-pre-wrap */
.mt-0
{
    font-size: 18px;;
    border-left: 1px #e10000 solid;
    border-right: 1px #e10000 solid;
    Color: #00bdca;
    align-self: center;
    background-color: black;
    padding: 2px;
}
.mb-3 > span > span
{
    Color:#000;
}
.pr-5 {
    padding-right: 2px;
}
.max-w-3xl {
    border: 1px #00afb5 solid;
/*     position: relative; */
/*     left: -13px; */
}
.mx-auto {
    margin-left: inherit;
}
.mt-1 {
    margin-top: 0;
/*     border: 1px #8d00e1 solid; */
}
.mb-1 {
    margin-bottom: 0;
}
.pr-6 {
    padding-right: 2px;
    border: 1px #be00e1 solid;
}
.pl-2\.5 {
    padding-left: 2px;
}
.pt-3 {
    padding-top: 0;
    border: 1px #00b5e8 solid;
    margin-top: 3px;
}
.pb-3 {
    padding-bottom: 0;
}
div .pt-3 .artifact-block-cell > .flex
{
/*     background-color: #000; */
}
.pt-3 > .flex
{
    background-color: #60ae61;
}
.text-left {
    text-align: center;
}
.px-4 {
    padding-left: 9px;
    padding-right: 9px;
}
.py-4 {
    padding-top: 4px;
    padding-bottom: 0;
}
.pt-6 {
    padding-top: 0;
}
* {
    box-sizing: border-box;
    outline-color: hsl(var(--accent-secondary-100));
    scrollbar-width: auto;
    scrollbar-color: hsl(117.12deg 100% 44.77%) #560036;
}
.py-2\.5 {
    padding-top: 0;
    padding-bottom: 0;
}
.m-3\.5 {
    margin: 0;
}
.z-\[5\] {
    z-index: 5;
    border: 1px #12d500 solid;
}
.gap-3\.5 {
    gap: 3px;
}
.mt-2 {
    margin-top: 0;
}
.mb-3 {
    margin-bottom: 0;
}
.leading-normal {
    border: 1px #aa7f7f solid;
    align-self: center;
}
.group\/row
{
    padding: 0;
}
.duration-200 {
    transition-duration: unset;
}
.h-\[2\.625rem\] {
}
.gap-2\.5 {
    gap: 0;
}
.min-h-\[2\.625rem\] {
    min-height: 1.625rem;
}
.text-danger-000
{
    color: #02c213;
    border: 1px #b500ea solid;
    Font-weight: 600;
    Font-size:18px;
}
.space-y-2\.5>:not([hidden])~:not([hidden]) {
    margin-top: 0;
    margin-bottom: 0;
}
.p-3\.5 {
    padding: 0;
}
.relative .code-block__code {
    color: rgb(171, 178, 191) !important;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 1px !important;
    font-family: var(--font-mono) !important;
    direction: ltr !important;
/*     text-align: center !important; */
    padding: 0 !important;
    margin: 0.1em 0px !important;
    overflow: auto;
    border-radius: 0.3em;
}
.text-text-500 {
    color: #986bfc;
    font-size: 18px; !important;
    border-bottom: 1px #986bfc solid;
}
[data-theme=claude][data-mode=dark] .font-bold, [data-theme=claude][data-mode=dark] .font-bolder, [data-theme=claude][data-mode=dark] b, [data-theme=claude][data-mode=dark] strong
{
    font-weight: 600;
    Color: #d600e2;
}
.pb-8 {
    padding-bottom: 0;
    border: 2px #be9b9b solid;
}
.gap-3 {
    gap: 0;
}
.leading-tight {
    Color: #ddc8c8;
}
/* .text-xs */
div .pt-3 .text-xs
/* {
    font-size: 18px;;
    line-height: 23px;
    border-left: 1px #e10000 solid;
    border-right: 1px #e10000 solid;
    Color: #00ca00;
    width: fit-content;
    align-self: center;
} */
.py-2 {
    padding-top: 0;
    padding-bottom: 0;
}
.pr-2 > .text-sm
{
/*     position: absolute; */
/*     right: 650px; */
    border: 1px #e10000 solid;
/*     z-index: 9999; */
/*     display: block; */
}
.pr-2 {
    padding-right: .5rem;
    border: 1px #bf00e1 solid;
/*     width: 517px; */
    justify-content: center;
}
.pr-2 > .flex-1
{
    border: 1px #00ca0c solid;
/*     align-items: left; */
}
.overflow-x-auto {
    padding-left: 8px;
}
.mr-3 > .flex{
    justify-self: center;
    border: 1px #8398ff solid;
}
.mx-0\.5 {
    margin-left: 0.125rem;
    margin-right: .125rem;
    border: 3px #e10000;
    justify-content: center;
}
.px-2\.5
{
    min-width: 255px !important;
}
[data-theme=claude][data-mode=dark] .font-large {
/*     justify-items: center; */
}
.tiptap > p
{
    Font-weight:600;
    Color:#e10000;
    Font-size:22px;
}
.p-3 {
    padding: 7px;
    Color: #d2bbbb;
}
.shrink {
    justify-content: center;
}
.gap-2\.5:nth-child(2)
{
     border-top: 1px #e10000 solid;
}
.\!outline-offset-1 {
     border: 1px #e10000 solid;
}
.p-2 {
    padding: 0;
    border: 1px #e10000 solid;
}
.\!bg-bg-400, .\!bg-bg-500 {
    border: 2px #0bc400 solid !important;
}
.pb-1 {
    padding-bottom: 0;
    border: 1px #c6b2b2 solid;
}
.-translate-y-1\/2 {
    border: 1px #e10000 solid;
}
.min-h-full > .shrink-0 {
    border: 1px #e10000 solid;
}
.px-2 {
    padding-left: 0;
    padding-right: 0;
}
.pl-2 {
    border: 1px #00bfc9 solid;
    Color: #f335ff;
    font-size: 18px;
    text-align: right;
    padding: 2px 4px 2px 0;
}
.duration-300 {
    transition-duration: unset;
}
li > .relative > .inline-flex {
    border: 1px #626ac6 solid;
}
li > .relative > .inline-flex:hover {
    border: 2px #db0000 solid !important;
}
.\[mask-size\:100\%_100\%\] {
    Color: #d88;
    Font-size: 17px !important;
}
.max-w-\[75ch\] {
}
.gap-y-2 {
    row-gap: 0;
    border: 1px #e10000 solid;
}
.pr-5:nth-child(1)
{
}
.-ml-2
{
    border: 2px #e000ff solid;
    background-color: black;
}
.-ml-2:hover
{
    border: 2px #e000ff solid !important;
    background-color: #c20000 !important;
}
.-mr-2
{
    margin-right: -.5rem;
    background-color: black;
    border: 2px #e000ff solid ;
}
.-mr-2:hover
{
    border: 2px #e000ff solid !important;
    background-color: #c20000 !important;
}
[data-theme=claude][data-mode=dark] .font-claude-response-heading {
    font-weight: 530;
    Color: #e10000;
}
.font-claude-response-title
{
    Color: #d60000;
    Font-size:21px;
}
.font-claude-response-body
{
    Color: #00e1de;
    Font-size:19px;
}
.\[\&\:not\(\:last-child\)_ul\]\:pb-1 > .whitespace-normal
{
    Color: #db9000;
    Font-size:21px;
}
.\!gap-3\.5 {
    gap: 0 !important;
}
.whitespace-pre-wrap
{
    Color: #00e1de;
    Font-size:19px;
}
.underline {
    text-decoration-line: unset;
    Color: #000000;
    Font-weight: 500;
    background-color: #bea0a0;
    padding: 2px 2px 2px 1px;
    border: 2px #f0f solid;
}
.underline:hover {
    background-color: #e30000;
    border: 2px #00e11e solid;
}
